<header>
  <pm-navbar></pm-navbar>
</header>
<main role="main">
  <div class="row">
    <h1 class="display-4">About Us!</h1>
    <p>Quanta Systems is a small team of professionals, who are enthusiastic about supplying top tier Tacheometric analysis for converting collected data into a utility that ensures any fleet can function at peak efficiency.
      Based in Stoke-On-Trent, our centralised Headquarters is in close proximity to many large-scale industrial productions, so our passion for Logistics runs deep in our county roots and is something we are very proud of. </p>
  </div>
  <div class="row">
    <h1 class="display-4">What We Offer!</h1>
    <p>The QS Analysis Package offers a uniquely tailored experience for Management to view and plan around data gathered from Tacheometric Devices fitted to their Trucks.
      This data is then used to generate graphs and databases that inform you of your fleet’s health in relation to Rest Break Legislation, Truck Maintenance, and of features such as GPS Tagging of Trucks in transit and Geofences that enable you to optimise efficiency of your supply routes by designating high use zones.  </p>
  </div>
  <div class="row">
    <h1 class="display-4">Our Drivers!</h1>
    <p>Our have a small team of drivers that work around the clock to deliver your goods around all hours of the day. We deliver to many large-scale industrial productions sites efficiently. </p>
  </div>
</main>
